%sen {
	font-family: "Sen";
	font-weight: 700;
}
%display {
	@extend %sen;
	font-size: 56px;
	line-height: 64px;
	letter-spacing: -2px;
	color: #232536;
}
%h1 {
	@extend %sen;
	font-size: 48px;
	line-height: 64px;
	letter-spacing: -2px;
	color: #232536;
}
%h2 {
	@extend %sen;
	font-size: 36px;
	line-height: 48px;
	letter-spacing: -2px;
	color: #232536;
}
%h3 {
	@extend %sen;
	font-size: 28px;
	line-height: 40px;
	letter-spacing: -1px;
	color: #232536;
}
%h4 {
	@extend %sen;
	font-size: 24px;
	line-height: 32px;
	color: #232536;
}
%h5 {
	@extend %sen;
	font-size: 20px;
	line-height: 32px;
	color: #232536;
}
%h6 {
	@extend %sen;
	font-size: 16px;
	line-height: 24px;
	color: #232536;
}
%hidden {
	-webkit-appearance: none;
	appearance: none;
}


